* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.Landing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.Landing__section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Landing__section_blue{
    background-color: #0149c2;
    color: white;
}

.Landing__section_img{
    background-image: url('./images/images/background_image.png');
    background-repeat: no-repeat;
    background-position:center ;
}

.Section{
    width: 940px;
}

.Section_p-56{
    padding: 56px;
}

.Section_p-72{
    padding: 72px;
}

.Section__title{
    font-size: 48px;
    font-weight: bold;
    color: #0149c2;
}

.Section__header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
}

.Header__menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.Menu__link{
    font-size: 24px;
    font-weight: bold;
    margin-left: 24px;
    opacity: 0.5;
    transition: opacity 0.25s ;
    cursor: pointer;
    color:  white;
    text-decoration: none;
}

.Menu__link:hover{
    opacity: 1;
}

.Slider__text{
    font-size: 56px;
    font-weight: 900;
}

.Slider__button{
    display: inline-block;
    font-size: 32px;
    font-weight: 900;
    background-color: white;
    color: #0149c2;
    padding: 16px 24px;
    border-radius: 9px;
    margin-top: 32px;
    font-family: inherit;
    text-transform: uppercase;
}

.Slider__content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.Section__slider{
    padding: 56px 0;
}

.Section__content{
    margin-top: 32px;
}

.Content__text{
    color: #0149c2;
    font-size: 24px;
    font-weight: 400;
}

.Content__list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start; 
}
.List__element{
    
}

.Element__img{
    margin-bottom: 12px;
}

.Element__img img{
    border-radius: 20px;
}

.Element__title{
    width: 100%;
    padding:  0 12px;
    margin-bottom: 12px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 900;
}

.Element__info{
    width: 100%;
    padding:  0 12px;
    box-sizing: border-box;
}

.Content__map{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.Map__info{}

.info__item{
    margin-bottom: 24px;
}

.item__title{
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 900;
}

.item__info{}

.Map__image{}

.Content__table{}

.Table{
    width: 100%;
    text-align: left;
    border: 2px solid #cdcdcd;
    border-collapse: collapse;
}

.Table__tr{}

.Table__th{
    padding: 24px;
    font-size: 20px;
    font-weight: 900;
    border: 2px solid #cdcdcd;
}

.Table__td{
    padding: 24px;
    border: 2px solid #cdcdcd;
}

.Content__form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.Form__input{
    border: 2px solid #cdcdcd;
    padding: 20px 24px;
    font-size: 20px;
    width: 100%;
    margin-right: 24px;
}

.Form__button{
    background-color: #0149c2;
    border: none;
    font-size: 20px;
    font-weight: 900;
    color: white;
    padding: 20px 24px;
    cursor: pointer;
}